/* General rules */
body {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: #32425c;
}

a:focus {
  outline: 1px solid #ee3643;
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-section__title {
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.site-paragraph {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

  /* red site-button */
.site-button {
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 2px;

  text-transform: uppercase;
}

.site-button:hover {
  background-color: #ca2c37;
}

.site-button:active {
  background-color: #ba2732;
}
/* end of general-rules */

/* header */
.main-header {
  background-color: #f1f5f7;
}

    /* head-bar */
.head-bar {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;

  background-color: #293449;
}

.main-header-logo {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.head-button {
  position: relative;
  
  display: inline-block;
  vertical-align: middle;
  border: none;

  color: #ffffff;

  background-color: #293449;
}

.head-button:hover {
  background-color: #212a3a;
}

.head-button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

    /* search-field */
.form-search input {
  padding: 11px 0 12px;
}

.form-search input:focus {
  color: #000000;

  background-color: #ffffff;
}

    /* button Поиск */
.head-button-search {
  box-sizing: content-box;
  width: 17px;
  height: 17px;
  padding: 12px 15px 13px 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-origin: content-box;

  cursor: pointer;
}

.head-button-search:hover {
  background-position-y: -40px;  /* white */
}

.head-button[type="search"]:focus + .head-button-search:not(:hover) {
  background-color: #ffffff;
  background-position-y: -80px;  /* red */
}

.head-button-search:active {
   background-position-y: 0;  /* grey */
}

.head-button::before {
  position: absolute;

  opacity: 0.3;
}

.head-button:hover::before {
  opacity: 1.0;
}

.head-button:active::before {
  opacity: 0.5;
}

    /* link Закладки */
.head-button-bookmark {
  padding-left: 44px;
}

.head-button-bookmark::before {
  content: url("../img/icon-bookmark.svg");
  
  left: 17px;
  top: calc(50% - 8px);
}

    /* link Корзина */
.head-button-cart {
  padding-left: 50px;
}

.head-button-cart::before {
  content: url("../img/icon-cart.svg");
  
  left: 18px;
  top: calc(50% - 7px);
}

    /* button Оформить заказ */
.head-button-order {
  padding-right: 22px;
  padding-left: 20px;
  background-color: #63a63e;
}

.head-button-order:hover {
  background-color: #5fbb2d;
}

.head-button-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

    /* bookmarks, cart if not empty (red-bg) */
.not-empty {
  background-color: #ee3643;
}

.not-empty:hover {
  background-color: #ca2c37;
}

.not-empty:active {
  background-color: #ba2732;
}

    /* header-content */
.header-title {
  font-style: italic;
  font-size: 16px;
  line-height: 1.44;
  color: #ee3643;
}

    /* tel */
.header-contacts a {
  padding-right: 45px;
  padding-left: 74px;
  border: solid 3px #ffffff;

  font-size: 21px;
  line-height: 1;
  color: #e9292a;

  background-color: transparent;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 15px 50%;
}

.header-contacts address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;
}

.user-navigation-hidden {
  display: none;
}

.user-button {
  display: inline-block;
  vertical-align: middle;

  font-size: 21px;
  line-height: 1;
  color: #000000;

  background-color: #ffffff;
  background-repeat: no-repeat;
}

.user-button:hover,
.user-links a:hover {
  color: #ee3643;
}

.user-button-profile:hover,
.user-button-log-out:hover {
  color: #000000;
}

.user-button:active,
.user-links a:active {
  color: rgba(0, 0, 0, 0.3);
}

    /* button Войти */
.user-button-log-in {
  padding: 14px 27px 15px 48px;
  margin-right: 10px;

  background-image: url("../img/icon-login.svg");
  background-position: 14px 16px;
}

.user-button-log-in:hover {
  background-position-y: -24px;
}

.user-button-log-in:active {
  background-position-y: 16px;
}

    /* button Регистрация */
.user-button-registration {
  padding: 14px 25px 15px;
}

    /* link Равшан Джамшутович */
.user-button-profile {
  padding: 14px 27px 11px 47px;

  background-image: url("../img/icon-user.svg");
  background-position: 13px 15px;
}

.user-button-profile:hover {
  background-position-y: -25px;
}

.user-button-profile:active {
  background-position-y: 15px;
}

   /* exit-button */
.user-button-log-out {
  display: inline-block;  
  box-sizing: content-box;
  vertical-align: middle;
  width: 20px;
  height: 17px;
  padding: 14px 10px;

  background-image: url("../img/icon-logout.svg");
  background-origin: content-box;
}

.user-button-log-out:hover {
  background-position-y: -40px;
}

.user-button-log-out:active {
  background-position-y: 0;
}

.user-links a {
  padding-right: 14px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.13;

  text-decoration: underline;
}

    /* user-links-bullet */
.user-links li {
  position: relative;
  display: inline-block;
}

.user-links li:not(:first-child)::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #32425c;
}

    /* site-navigation */
.site-navigation li {
  display: inline-block;

  cursor: default;
}

.user-links,
.site-navigation ul {
  list-style-type: none;
}

.site-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 1;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* catalog main */
.content {
  background-color: #ffffff;
}

  /* Catalog bread crumbs */
.content-breadcrumbs {
  position: relative;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-family: 13px;
  line-height: 1.38;
  color: #000000;

  text-transform: uppercase;

  list-style-type: none;
}

.content-breadcrumbs li {
  display: inline-block;
}

.content-breadcrumbs li:not(:last-child)::after {
  content: url("../img/icon-right-small.svg");

  padding-right: 15px;
  padding-left: 18px;

  width: 8px;
  height: 12px;
}

.content-title {
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  margin: 0;

  font-family: inherit;
  font-size: 30px;
  line-height: 1;

  background-color: #f2f6f8;

  text-transform: uppercase;
}

  /* Filter-form */
.content-form__filter {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  
  text-transform: uppercase;
}

.content-form__filter p {
  background-color: #f7f3ec;
}

.content-form__filter fieldset {
  border: none;
  padding: 0;
}

.content-form__filter fieldset:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.content-form__filter legend {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.76;
  font-weight: 700;
}

    /* price-slider*/
.slider-range-container {
  position: relative;
  
  height: 80px;
  
  background-color: #f7f3ec;
}

.range-bar {
  position: absolute;
  top: 29px;
  left: 20px;

  width: 180px;
  height: 22px;
}

.range-line {
  position: absolute;
  top: 9px;
  left: 0;
  
  width: 180px;
  height: 2px;
  
  background-color: #d7dcde;
}

.range-line-selected {
  width: 152px;
  background-color: #00ca74;
}

.range-track-pin {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 20px;
  height: 22px;
  border: none;
  border-radius: 50%;
  
  background-image: url("../img/icon-filter-button.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.track-pin-max {
  top: 0;
  left: 172px;
}

.range-value {
  position: relative;
  
  display: inline-block;
  vertical-align: middle;
  
  width: 95px;
  height: 38px;
  
  background-color: #f7f3ec;
}

.range-value  input {
  position: absolute;
  top: 8px;
  left: 5px;
  
  width: 85px;
  background-color: transparent;
  border: none;
  
  text-align: center;
}

.slider-range-values span {
  display: inline-block;
  
  font-size: 17px;
  line-height: 1.06;
  text-align: center;
}

    /* brands-filter*/
.content-form__filter ul {
  padding-left: 0;

  font-size: 15px;
  line-height: 1.33;

  list-style-type: none;
}

.filter-checkbox,
.filter-radio {
  display: none;
  /*visibility: hidden;*/
}

.filter-power label,
.filter-brands label {
  display: inline-block;
  margin-bottom: 20px;
}

.filter-checkbox + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 23px;
  padding: 0;
  margin-right: 8px;

  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
}

.filter-checkbox:hover + label::before {
  background-position-x: -30px;
}

.filter-checkbox:disabled + label::before {
  background-position-x: -60px;
}

.filter-checkbox:checked + label::before {
  background-position-x: -90px;
}

.filter-checkbox:checked:hover + label::before {
  background-position-x: -120px;
}

.filter-checkbox:checked:disabled + label::before {
  background-position-x: -150px;
}

.form-filter input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

    /* power-filter */
.filter-radio + label::before {
  content: "";

  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 4px;
  
  border: 4px solid #ffffff;
  box-shadow: 0 0 0 4px #c5c5c5;
  border-radius: 50%;
}

.filter-radio:hover + label::before {
  box-shadow: 0 0 0 4px #b5b5b5;
}

.filter-radio:disabled + label::before {
  box-shadow: 0 0 0 4px #b5b5b5;
  opacity: 0.3;
}

.filter-radio:checked + label::before {
  background-color: #c5c5c5;
}

.filter-radio:checked:hover + label::before {
  background-color: #b5b5b5;
}

.filter-radio:checked:disabled + label::before {
  background-color: #b5b5b5;
  box-shadow: 0 0 0 4px #b5b5b5;
  opacity: 0.3;
}

.content-form__filter button[type="submit"] {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;

  background-color: transparent;
  text-transform: uppercase;
}

  /* sort-bar */
.content-sort__bar {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;

  background-color: #f7f3ec;
  text-transform: uppercase;
}

.content-sort__bar ul {
  padding: 0;
  
  list-style-type: none;
}

.content-sort__bar li {
  display: inline-block;
}

.sort-bar__byproperty a {
  border-bottom: 1px dotted #ee3643;

  color: rgba(0, 0, 0, 0.3);
}

.sort-bar__byproperty a:hover {
  border-bottom-style: solid;

  color: #000000;
}

.sort-bar__byproperty a.sort-property__active {
  border-bottom: none;

  color: #ee3643;
}

.sort-bar__bydirection a::before {
  content: "";

  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-sorting.svg");
}

.sort-bar__bydirection a[id="by_ascending"]:hover::before {
  background-position-x: -20px;
}

.sort-bar__bydirection a[id="by_ascending"].sort-direction__active::before {
  background-position-x: -40px;
}

.sort-bar__bydirection a[id="by_descending"]::before {
  background-position-x: -60px;
}

.sort-bar__bydirection a[id="by_descending"]:hover::before {
  background-position-x: -80px;
}

.sort-bar__bydirection a[id="by_descending"].sort-direction__active::before {
  background-position-x: -100px;
}

  /* section Product-list */
.content-products {
  margin-bottom: 60px;
  background-color: #ffffff;
}

.content-product__list {
  margin-bottom: 52px;
}

.content-product__item {
  position: relative;
  
  display: inline-block;
  width: 220px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  margin-bottom: 10px;

  text-align: center;
  
  background-color: #ffffff;
}

.content-product__item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.content-product__item:hover .product-item__actions {
  display: block;
}

.content-product__item:hover .content-product__picture {
  display: none;
}

.content-product__picture {
  line-height: 0;
}

.product-item__title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0 32px;

  font-size: 18px;
  line-height: 1.11;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
}

.product-item__actions {
  display: none;
  padding:  44px 43px 42px 42px;
}

.product-item__actions button {
  width: 135px;
  height: 38px;
  border-radius: 2px;
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 1.29;

  cursor: pointer;
}

.product-item__actions button:last-child {
  margin-bottom: 0;
}

.product-action__buy {
  position: relative;

  border: none;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;

  text-transform: uppercase;
}

.product-action__buy::before {
  content: url("../img/icon-cart.svg");

  position: absolute;
  left: 12px;
  top: calc(50% - 8px);

  width: 15px;
  height: 15px;

  opacity: 0.3;
}

.product-action__buy:hover {
  background-color: #5fbb2d;
}

.product-action__buy:hover::before {
  opacity: 1.0;
}

.product-action__buy:active {
  background-color: #518534;

  box-shadow: none;
}

.product-action__bookmark {
  border: 3px solid #63a63e;

  color: #32425c;

  background-color: transparent;

  text-transform: uppercase;
}

.product-action__bookmark:hover {
  border-color: #32425c;
}

.product-action__bookmark:active {
  border-color: rgba(50, 66, 92, 0.3);

  color: rgba(50, 66, 92, 0.3);
}

.product-item__oldprice {
  min-height: 19px;
  margin-bottom: 13px;
}

.content-product__item span,
.content-product__item del {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.06;
  font-weight: 700;
}

.product-item__oldprice del {
  display: block;
  
  color: #999999;
}

.product-item__actualprice {
  display: inline-block;
  padding: 0;
  margin-bottom: 21px;                                                                

  color: #ffffff;

  border-style: solid;
  border-width: 13px 39px 13px 36px;
  border-image-source: url("../img/price-button.svg");
  border-image-slice: 50% 18 50% 36;
  border-image-width: 25px 25px 25px 36px;
}

.product-item__new::after {
  content: url("../img/icon-new-flag.png");

  position: absolute;
  top: 0;
  right: 0;
}

  /* paginator */
.content-paginator__list {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;

  text-transform: uppercase;

  list-style-type: none;
}

.content-paginator__item {
  display: inline-block;

  text-align: center;
}

.content-paginator__item a {
  display: inline-block;
  min-width: 38px;
  max-height: 38px;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 12px;

  line-height: 1;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.content-paginator__item a:hover {
  border-color: #bdc6ca;
}

.content-paginator__item a:active {
  border-color: #ee3643;
}

.content-paginator__item.paginator-item__current a {
  border-color: #ee3643;

  color: #ffffff;

  background-color: #ee3643;
}

.paginator-item__next a {
  min-width: 140px;
  padding-right: 32px;
  padding-left: 32px;
}

/* section About company (index.html) */
.main-company {
  color: #000000;

  background-color: #ffffff;
}

.company-description__partners li {
  padding-left: 2px;

  font-size: 18px;
  line-height: 1.11;

  list-style-image: url("../img/icon-bullet-marker.svg");
}

  /* section content-summary ("О перфораторах") */
.content-summary {
  padding: 67px 159px 73px 130px;
  background-color: #f4f7f9;
}

.content-summary h2 {
  padding: 0;
  margin-bottom: 41px;

  /*font-family: "Cuprum", "Arial", sans-serif;*/
  color: #000000;
  font-weight: 400;
}

.content-summary p {
  /*padding: 0;*/
}

/* footer */
.footer-navigation {
  font-size: 19px;
  line-height: 1.33;
  color: #f1f5f7;

  background-color: #32425c;
}

.footer-navigation__contacts address {
  font-style: normal;
}

.main-footer ul {
  list-style-type: none;
}

.main-footer li {
  display: inline-block;
}

.footer-navigation__promo a,
.footer-bar a {
  color: #ffd180;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer a:active,
.footer-navigation__contacts a:hover {
  text-decoration: none;
}

.footer-navigation__site a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-navigation__promo a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bar {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;

  background-color: #293449;
}

.footer-bar a:active {
  color: #ee3643;
}

.footer-bar__socials a {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-bar__socials a:hover {
  background-color: #ee3643;
}

.socials-vk a {
  background-image: url("../img/icon-vk.svg");
}

.socials-fb a {
  background-image: url("../img/icon-fb.svg");
}

.socials-insta a {
  background-image: url("../img/icon-insta.svg");
}
