/* General rules */
body {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: #32425c;
}

a:focus {
  outline: 1px solid #ee3643;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-section__title {
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.site-paragraph {
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

/* header */
.main-header {
  background-color: #f1f5f7;
}

    /* head-bar */
.head-bar {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
  text-align: left;

  background-color: #293449;
}

.head-bar a {
  color: #ffffff;
}

.main-header-logo {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.head-button {
  vertical-align: middle;
  
  border: none;

  color: #ffffff;

  background-color: #293449;
  background-position: 0 50%;  
  background-repeat: no-repeat;

  cursor: pointer;
}

.head-button:hover {
  background-color: #212a3a;
}

.head-button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

  /* button Оформить заказ */
.head-button-order {
  background-color: #63a63e;
}

.head-button-order:hover {
  background-color: #5fbb2d;
}

.head-button-order:active {
  background-color: #518534;
}

.form-search input:focus {
  color: #000000;

  background-color: #ffffff;
}

.form-search button {
  width: 17px;
  height: 17px;
}

.head-button-search {
  padding: 20px;

  background-image: url("../img/icon-search.svg");
}

.head-button-search:hover {
  background-position: -100px 50%;
}

.head-button-search:active {
  background-position: 0 50%;
}

.head-button[type="search"]:focus + .head-button-search {
  background-position: -200px 50%;
}

.head-button-bookmark {
  padding-left: 20px;
  background-image: url("../img/icon-bookmark.svg");
}

.site-button {
  text-transform: uppercase;
  background-color: #ee3643;
}

.site-button:hover {
  background-color: #ca2c37;
}

.site-button:active {
  background-color: #ba2732;
}

    /* header-content */
.header-title {
  font-style: italic;
  font-size: 16px;
  line-height: 1.44;
  color: #ee3643;
}

.header-contacts a {
  border: solid 3px #ffffff;

  font-size: 21px;
  line-height: 1;
  color: #e9292a;

  background-color: transparent;
}

.header-contacts address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;
}

.user-navigation-hidden {
  display: none;
}

.user-button {
  font-size: 21px;
  line-height: 1;
  color: #000000;

  background-color: #ffffff;
}

.user-button:hover,
.user-links a:hover {
  color: #ee3643;
}

.user-button-profile:hover,
.user-button-log-out:hover {
  color: #000000;
}

.user-button:active,
.user-links a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-links a {
  font-size: 16px;
  line-height: 1.13;
  color: inherit;

  text-decoration: underline;
}

    /* site-navigation */
.user-links,
.site-navigation ul {
  list-style-type: none;
}

.site-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 1;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}
