/* General rules */
body {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: #32425c;
}

a:focus {
  outline: 1px solid #ee3643;
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-section-title {
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.site-paragraph {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

  /* red site-button */
.site-button {
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;

  text-transform: uppercase;
  cursor: pointer;
}

.site-button:hover {
  background-color: #ca2c37;
}

.site-button:active {
  background-color: #ba2732;
}

/* header */
.main-header {
  background-color: #f1f5f7;
}

    /* head-bar */
.head-bar {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;

  background-color: #293449;
}

.main-header-logo {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.head-button {
  position: relative;
  
  display: inline-block;
  vertical-align: middle;
  border: none;

  color: #ffffff;

  background-color: #293449;
}

.head-button:hover {
  background-color: #212a3a;
}

.head-button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

    /* search-field */
.form-search input {
  padding: 11px 0 12px;
}

.form-search input:focus {
  color: #000000;

  background-color: #ffffff;
}

    /* Поиск */
.head-button-search {
  box-sizing: content-box;
  width: 17px;
  height: 17px;
  padding: 12px 15px 13px 17px;
}

.head-button-search path {
  fill: #ffffff;
  fill-opacity: 0.3;
}

.head-button-search:hover path {
  fill-opacity: 1;
}

.head-button[type="search"]:focus + .head-button-search:not(:hover) {
  background-color: #ffffff;
}

.head-button[type="search"]:focus + .head-button-search:not(:hover) path {
  fill: #ee3643;
  fill-opacity: 1;
}

.head-button-search:active path {
  fill-opacity: 0.3;
}

.head-button::before {
  position: absolute;

  opacity: 0.3;
}

.head-button:hover::before {
  opacity: 1.0;
}

.head-button:active::before {
  opacity: 0.5;
}

    /* link Закладки */
.head-button-bookmark {
  padding-left: 44px;
}

.head-button-bookmark::before {
  content: url("../img/icon-bookmark.svg");
  
  left: 17px;
  top: calc(50% - 8px);
}

    /* link Корзина */
.head-button-cart {
  padding-left: 50px;
}

.head-button-cart::before {
  content: url("../img/icon-cart.svg");
  
  left: 18px;
  top: calc(50% - 7px);
}

    /* button Оформить заказ */
.head-button-order {
  padding-right: 22px;
  padding-left: 20px;
  background-color: #63a63e;
}

.head-button-order:hover {
  background-color: #5fbb2d;
}

.head-button-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

    /* bookmarks, cart if not empty (red-bg) */
.not-empty {
  background-color: #ee3643;
}

.not-empty:hover {
  background-color: #ca2c37;
}

.not-empty:active {
  background-color: #ba2732;
}

    /* header-content */
.header-title {
  font-style: italic;
  font-size: 16px;
  line-height: 1.44;
  color: #ee3643;
}

    /* tel */
.header-contacts a {
  padding-right: 45px;
  padding-left: 74px;
  border: solid 3px #ffffff;

  font-size: 21px;
  line-height: 1;
  color: #e9292a;

  background-color: transparent;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 15px 50%;
}

.header-contacts address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;
}

.user-navigation-hidden {
  display: none;
}

.user-button {
  display: inline-block;
  vertical-align: middle;

  font-size: 21px;
  line-height: 1;
  color: #000000;

  background-color: #ffffff;
  /*background-repeat: no-repeat;*/
}

.user-button:hover,
.user-links a:hover {
  color: #ee3643;
}

.user-button-profile:hover,
.user-button-log-out:hover {
  color: #000000;
}

.user-button:active,
.user-links a:active {
  color: rgba(0, 0, 0, 0.3);
}

    /* Войти */
.user-button-log-in {
  padding: 14px 27px 15px 14px;
  margin-right: 10px;
}

.user-button-log-in svg {
  vertical-align: middle;
  padding-right: 9px;

  fill: #c5c5c5;
}

.user-button-log-in:hover path {
  fill: #32425c;
}

.user-button-log-in:active path {
  fill: #c5c5c5;
}

    /* button Регистрация */
.user-button-registration {
  padding: 14px 25px 15px;
}

    /* link Равшан Джамшутович */
.user-button-profile {
  padding: 14px 27px 11px 13px;
}

.user-button-profile svg {
  vertical-align: middle;
  padding-right: 9px;

  fill: #c5c5c5;
}

.user-button-profile:hover path {
  fill: #32425c;
}

.user-button-profile:active path {
  fill: #c5c5c5;
}

   /* logout-button */
.user-button-log-out {
  display: inline-block;  
  box-sizing: content-box;
  vertical-align: middle;
  width: 20px;
  height: 17px;
  padding: 14px 10px;

  fill: #c5c5c5;
}

.user-button-log-out:hover path {
  fill: #32425c;
}

.user-button-log-out:active path {
  fill: #c5c5c5;
}

.user-links a {
  padding-right: 14px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.13;

  text-decoration: underline;
}

    /* user-links-bullet */
.user-links li {
  position: relative;
  display: inline-block;
}

.user-links li:not(:first-child)::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #32425c;
}

    /* site-navigation */
.site-navigation li {
  display: inline-block;

  cursor: default;
}

.user-links,
.site-navigation ul {
  list-style-type: none;
}

.site-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 1;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* promo-block*/
.promo {
  display: -ms-grid;
  display: grid;

  -ms-grid-rows: 123px 20px 123px 20px 123px;
  grid-template-rows: 123px 123px 123px;

  -ms-grid-columns: 300px 20px 300px 20px 300px;
  grid-template-columns: 300px 300px 300px;

  gap: 20px;
}

.promo-item {
  position: relative;
  
  width: 300px;
  max-height: 123px;
  
  background-repeat: no-repeat;
}

.promo-item h3 {
  padding-top: 26px;
  padding-left: 23px;
  padding-bottom: 15px;
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
}

.promo-item a {
  display: inline-block;
  min-width: 135px;
  margin-left: 25px;
  margin-bottom: 22px;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
  
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
}

.promo-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-materials {
  -ms-grid-row: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  grid-column: 1/2;

  background-color: #ffbf47;
  background-image: url("../img/icon-materials.svg");
  background-position: 213px 50%;
}

.promo-tools {
  -ms-grid-row: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  grid-column: 2/3;

  background-color: #3bbce3;
  background-image: url("../img/icon-tools.svg");
  background-position: 197px 50%;
}

.promo-machines {
  -ms-grid-row: 1;
  grid-row: 1/2;
  -ms-grid-column: 5;
  grid-column: 3/4;

  background-color: #dc91d8;
  background-image: url("../img/icon-mashines.svg");
  background-position: 191px 50%;
}

.promo-discounts {
  -ms-grid-row: 3;
  grid-row: 2/3;
  -ms-grid-column: 5;
  grid-column: 3/4;

  background-color: #8ed78f;
  background-image: url("../img/icon-discounts.svg");
  background-position: 196px 50%;
}

.promo-delivery {
  -ms-grid-row: 5;
  grid-row: 3/4;
  -ms-grid-column: 5;
  grid-column: 3/4;

  background-color: #ffbf47;
  background-image: url("../img/icon-delivery.svg");
  background-position: 191px 50%;
}

    /* slider */
.promo-slider {
  position: relative;
  
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 2/4;

  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/3;

  width: 620px;
  height: 266px;

  background-color: #aaaaaa;
}

.promo-slide {
  display: none;
  
  width: inherit;
  height: inherit;
}

.promo-slider input {
  display: none;
}

.promo-slide-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-controls {
  position: absolute;
  bottom: 39px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
}

.slider-controls label {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.slider-controls label:not(:last-of-type) {
  margin-right: 10px;
}

.slider-check01:checked ~ .promo-slide-list li:nth-of-type(1),
.slider-check02:checked ~ .promo-slide-list li:nth-of-type(2),
.slider-check03:checked ~ .promo-slide-list li:nth-of-type(3),
.slider-check04:checked ~ .promo-slide-list li:nth-of-type(4),
.slider-check05:checked ~ .promo-slide-list li:nth-of-type(5) {
  display: block;
}

.slider-check01:checked ~ .slider-controls label:nth-of-type(1),
.slider-check02:checked ~ .slider-controls label:nth-of-type(2),
.slider-check03:checked ~ .slider-controls label:nth-of-type(3),
.slider-check04:checked ~ .slider-controls label:nth-of-type(4),
.slider-check05:checked ~ .slider-controls label:nth-of-type(5) {
  background-color: #ee3643;
}

.slide-description {
  position: absolute;

  box-sizing: border-box;
  height: 105px;
  width: 100%;
  padding: 26px 0 0 25px;
  
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.25);
}

.slide-description h3 {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  
  text-transform: uppercase;
}

.slide-description p {
  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 34px;
}

.promo-slider a {
  position: absolute;
  bottom: 23px;
  left: 25px;

  min-width: 195px;
}

.slider-button {
  position: absolute;
  top: 50%;
  
  width: 22px;
  height: 40px;
  padding: 0;
  
  background-color: transparent;
  border: none;

  transform: translateY(-50%);
}

.slider-button[id="btn-left"] {
  left: 25px;
}

.slider-button[id="btn-left"]::before {
  content: url("../img/icon-left.svg");
}

.slider-button[id="btn-right"] {
  right: 25px;
}

.slider-button[id="btn-right"]::before {
  content: url("../img/icon-right.svg");
}

/* Index.html Popular goods */
.main-title {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 30px;
  line-height: 1;
  font-weight: 400;

  text-transform: uppercase;
}

.popular-title-box {
  padding: 33px 0 35px 30px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-title-box a {
  display: inline-block;
  min-width: 253px;
  padding: 14px 55px;
  
  text-align: center;
}

/* Index.html Popular brands */
.popular-brands {
  margin-bottom: 85px;

  background-color: #ffffff;
}

.brand-list {
  list-style-type: none;
  padding: 0;
}

.brand-item {
  display: inline-block;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  line-height: 1;
  text-align: center;
  
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brand-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-item a:active {
  opacity: 0.3;
}

.brand-item  a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 145px;
}

.brand-item img {
  vertical-align: middle;
  line-height: normal;
}

/* Service-slider */
.service-slider {
  box-sizing: border-box;
  padding: 68px 0 0 130px;

  background-color: #f4f7f9;
}

.service-slider h2 {
  color: #000000;
}

.service-slider-list {
  position: relative;
  min-height: 282px;
  padding: 0;
  margin: 0;

  background-repeat: no-repeat;
  background-position: bottom right;

  list-style-type: none;
}

.service-slider-controls {
  width: 40%;
  min-width: 240px;
}

.service-slider-controls::after {
  content: url("../img/shadow.png");
  position: absolute;
  top: -46px;
  right: 0;
}

.service-slider-controls label {
  display: block;
  padding: 21px 0 20px 23px;
  margin-bottom: 1px;

  font-size: 21px;
  line-height: 1.43;
  color: #ffffff;
  font-weight: 700;

  background-color: #32425c;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.service-slider-controls label:hover {
  background-color: #293449;
}

.name-item-active label {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.service-slider-check {
  display: none;
}

.service-slider-check01:checked ~ .service-slider-controls label:nth-of-type(1),
.service-slider-check02:checked ~ .service-slider-controls label:nth-of-type(2),
.service-slider-check03:checked ~ .service-slider-controls label:nth-of-type(3) {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.service-slider-check01:checked ~ .service-slider-list li:nth-of-type(1),
.service-slider-check02:checked ~ .service-slider-list li:nth-of-type(2),
.service-slider-check03:checked ~ .service-slider-list li:nth-of-type(3) {
  opacity: 1;
}

.service-slider-check01:checked ~ .service-slider-list {
  background-image: url("../img/delivery.png");
}

.service-slider-check02:checked ~ .service-slider-list {
  background-image: url("../img/guarantee.png");
}

.service-slider-check03:checked ~ .service-slider-list {
  background-image: url("../img/credit.png");
}

.service-slider-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  box-sizing: border-box;
  width: 100%;
  padding-bottom: 135px;
}

.service-slider-item h3 {
  margin-bottom: 34px;

  font-size: 36px;
  line-height: 1;
}

.service-slider-item button {
  min-width: 195px;

  font-size: 14px;
}

.service-slider::before,
.service-slider::after {
  content: "";

  visibility: hidden;
}

.service-slider::before {
  background-image: url("img/guarantee.png");
}

.service-slider::after {
  background-image: url("img/credit.png");
}

/* catalog main */
.content {
  background-color: #ffffff;
}

  /* Catalog bread crumbs */
.content-breadcrumbs {
  position: relative;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-family: 13px;
  line-height: 1.38;
  color: #000000;

  text-transform: uppercase;

  list-style-type: none;
}

.content-breadcrumbs li {
  display: inline-block;
}

.content-breadcrumbs li:not(:last-child)::after {
  content: url("../img/icon-right-small.svg");

  padding-right: 15px;
  padding-left: 18px;

  width: 8px;
  height: 12px;
}

.catalog-title-box {
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  
  background-color: #f2f6f8;
}

  /* Filter-form */
.form-filter {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  
  text-transform: uppercase;
}

.form-filter p {
  background-color: #f7f3ec;
}

.form-filter fieldset {
  border: none;
  padding: 0;
}

.form-filter fieldset:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.form-filter legend {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.76;
  font-weight: 700;
}

    /* price-slider*/
.slider-range-container {
  position: relative;
  
  height: 80px;
  
  background-color: #f7f3ec;
}

.range-bar {
  position: absolute;
  top: 29px;
  left: 20px;

  width: 180px;
  height: 22px;
}

.range-line {
  position: absolute;
  top: 9px;
  left: 0;
  
  width: 180px;
  height: 2px;
  
  background-color: #d7dcde;
}

.range-line-selected {
  width: 152px;
  background-color: #00ca74;
}

.range-track-pin {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 20px;
  height: 22px;
  border: none;
  border-radius: 50%;
  
  background-image: url("../img/icon-filter-button.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.track-pin-max {
  top: 0;
  left: 172px;
}

.range-value {
  position: relative;
  
  display: inline-block;
  vertical-align: middle;
  
  width: 95px;
  height: 38px;
  
  background-color: #f7f3ec;
}

.range-value  input {
  position: absolute;
  top: 8px;
  left: 5px;
  
  width: 85px;
  background-color: transparent;
  border: none;
  
  text-align: center;
}

.slider-range-values span {
  display: inline-block;
  
  font-size: 17px;
  line-height: 1.06;
  text-align: center;
}

    /* brands-filter*/
.form-filter ul {
  padding-left: 0;

  font-size: 15px;
  line-height: 1.33;

  list-style-type: none;
}

.filter-checkbox,
.filter-radio {
  display: none;
}

.filter-power label,
.filter-brands label {
  display: inline-block;
  margin-bottom: 20px;
}

.filter-brands label {
  position: relative;

  padding-left: 35px;
}

.filter-checkbox + label::before,
.filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-color: #c5c5c5;
  background-repeat: no-repeat;
}

.filter-checkbox + label::before {
  background-image: url("../img/checkbox-unchecked.svg");
}

.filter-checkbox:checked + label::after {
  background-image: url("../img/checkbox-checked.svg");
}

.filter-checkbox:hover + label::before,
.filter-checkbox:checked:hover + label::after {
  background-color: #b5b5b5;
}

.filter-checkbox:disabled + label::before,
.filter-checkbox:checked:disabled + label::after {
  background-color: #b5b5b5;
  opacity: 0.3;
}

.form-filter input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

    /* power-filter */
.filter-radio + label::before {
  content: "";

  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 4px;
  
  border: 4px solid #ffffff;
  box-shadow: 0 0 0 4px #c5c5c5;
  border-radius: 50%;
}

.filter-radio:hover + label::before {
  box-shadow: 0 0 0 4px #b5b5b5;
}

.filter-radio:disabled + label::before {
  box-shadow: 0 0 0 4px #b5b5b5;
  opacity: 0.3;
}

.filter-radio:checked + label::before {
  background-color: #c5c5c5;
}

.filter-radio:checked:hover + label::before {
  background-color: #b5b5b5;
}

.filter-radio:checked:disabled + label::before {
  background-color: #b5b5b5;
  box-shadow: 0 0 0 4px #b5b5b5;
  opacity: 0.3;
}

.form-filter button[type="submit"] {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;

  background-color: transparent;
  text-transform: uppercase;
}

  /* sort-bar */
.content-sort-bar {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;

  background-color: #f7f3ec;
  text-transform: uppercase;
}

.content-sort-bar ul {
  padding: 0;
  
  list-style-type: none;
}

.content-sort-bar li {
  display: inline-block;
}

.sort-bar-byproperty a {
  border-bottom: 1px dotted #ee3643;

  color: rgba(0, 0, 0, 0.3);
}

.sort-bar-byproperty a:hover {
  border-bottom-style: solid;

  color: #000000;
}

.sort-bar-byproperty a.sort-property-active {
  border-bottom: none;

  color: #ee3643;
}

.sort-direction path {
  fill: #c5c5c5;
}

.sort-direction:not(.sort-direction-active):hover path {
  fill: #000000;
}

.sort-direction-active path {
  fill: #ee3643;
}

  /* section Popular-products, Product-list */
.content-products {
  margin-bottom: 60px;
  background-color: #ffffff;
}

.content-product-list {
  margin-bottom: 52px;
}

.content-product-item {
  position: relative;
  
  display: inline-block;
  width: 220px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  margin-bottom: 10px;

  text-align: center;
  
  background-color: #ffffff;
}

.content-product-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.content-product-item:hover .product-item-actions {
  display: block;
}

.content-product-item:hover .content-product-picture {
  display: none;
}

.content-product-picture {
  line-height: 0;
}

.product-item-title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0 32px;

  font-size: 18px;
  line-height: 1.11;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
}

.product-item-actions {
  display: none;
  padding:  44px 43px 42px 42px;
}

.product-item-actions button {
  width: 135px;
  height: 38px;
  border-radius: 2px;
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 1.29;

  cursor: pointer;
}

.product-item-actions button:last-child {
  margin-bottom: 0;
}

.product-action-buy {
  position: relative;

  border: none;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;

  text-transform: uppercase;
}

.product-action-buy::before {
  content: url("../img/icon-cart.svg");

  position: absolute;
  left: 12px;
  top: calc(50% - 8px);

  width: 15px;
  height: 15px;

  opacity: 0.3;
}

.product-action-buy:hover {
  background-color: #5fbb2d;
}

.product-action-buy:hover::before {
  opacity: 1.0;
}

.product-action-buy:active {
  background-color: #518534;

  box-shadow: none;
}

.product-action-bookmark {
  border: 3px solid #63a63e;

  color: #32425c;

  background-color: transparent;

  text-transform: uppercase;
}

.product-action-bookmark:hover {
  border-color: #32425c;
}

.product-action-bookmark:active {
  border-color: rgba(50, 66, 92, 0.3);

  color: rgba(50, 66, 92, 0.3);
}

.product-item-oldprice {
  min-height: 19px;
  margin-bottom: 13px;
}

.content-product-item span,
.content-product-item del {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.06;
  font-weight: 700;

  text-transform: uppercase;
}

.product-item-oldprice del {
  display: block;
  
  color: #999999;
}

.product-item-actualprice {
  display: inline-block;
  padding: 0;
  margin-bottom: 21px;

  color: #ffffff;

  border-style: solid;
  border-width: 13px 39px 13px 36px;
  border-image-source: url("../img/price-button.svg");
  border-image-slice: 50% 18 50% 36;
  border-image-width: 25px 25px 25px 36px;
}

.item-new::after {
  content: url("../img/icon-new-flag.png");

  position: absolute;
  top: 0;
  right: 0;
}

  /* paginator */
.content-paginator-list {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;

  text-transform: uppercase;

  list-style-type: none;
}

.content-paginator-item {
  display: inline-block;

  text-align: center;
}

.content-paginator-item a {
  display: inline-block;
  min-width: 38px;
  height: 38px;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 12px;

  line-height: 1;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.content-paginator-item a:hover {
  border-color: #bdc6ca;
}

.content-paginator-item a:active {
  border-color: #ee3643;
}

.content-paginator-item.paginator-item-current a {
  border-color: #ee3643;

  color: #ffffff;

  background-color: #ee3643;
}

.paginator-item-next a {
  min-width: 140px;
  padding-right: 32px;
  padding-left: 32px;
}

/* section About company (index.html) */
.main-company {
  color: #000000;

  background-color: #ffffff;
}

.company-description-partners li {
  padding-left: 2px;

  font-size: 18px;
  line-height: 1.11;

  list-style-image: url("../img/icon-bullet-marker.svg");
}

  /* section content-summary ("О перфораторах") */
.content-summary {
  padding: 67px 159px 73px 130px;
  background-color: #f4f7f9;
}

.content-summary h2 {
  padding: 0;
  margin-bottom: 41px;

  /*font-family: "Cuprum", "Arial", sans-serif;*/
  color: #000000;
  font-weight: 400;
}

.content-summary p {
  /*padding: 0;*/
}

/* footer */
.footer-navigation {
  font-size: 19px;
  line-height: 1.33;
  color: #f1f5f7;

  background-color: #32425c;
}

.footer-navigation-contacts address {
  font-style: normal;
}

.main-footer ul {
  list-style-type: none;
}

.main-footer li {
  display: inline-block;
}

.footer-navigation-promo a,
.footer-bar a {
  color: #ffd180;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer a:active,
.footer-navigation-contacts a:hover {
  text-decoration: none;
}

.footer-navigation-site a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-navigation-promo a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bar {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;

  background-color: #293449;
}

.footer-bar a:active {
  color: #ee3643;
}

.footer-bar-socials a {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-bar-socials a:hover {
  background-color: #ee3643;
}

.socials-vk a {
  background-image: url("../img/icon-vk.svg");
}

.socials-fb a {
  background-image: url("../img/icon-fb.svg");
}

.socials-insta a {
  background-image: url("../img/icon-insta.svg");
}
